# Data files
data/processed/
data/raw/*.csv
data/raw/fct_l.xlsx
~$*

# Model files (binary lớn)
models/*.pkl
models/best_model.txt

# Reports
reports/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Môi trường ảo
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.DS_Store
